/*Estilos Albumes*/
.mainAlbumes {
    h2 {
        @include estilosBasicos(1.5rem, uppercase, 700, nth($paleta1, 3));
        font-family: $font_family1;
    }
}

.container-infoAlbumes {
    background-color: nth($paleta1, 4);
    font-family: $font_family2;
    margin: 0 0.2rem;
    border-radius: 5px;
    border: $borde1;

    p {
        @include estilos_parrafo(300, none, nth($paleta1, 2));
        font-size: 1.2rem;
        font-family: $font_family2;
    }
}

.customCaption {
    @include estilosBasicos(1rem, unset, 500, nth($paleta1, 3));
    font-family: $font_family2;
}